.git
.venv
__pycache__
*.pyc
.pytest_cache
.mypy_cache
.ruff_cache
coverage.xml
htmlcov
coverage_html
dist
build
*.egg-info
docs
offline_packages
.github
.coverage*
*.sif
docker-compose.yml
.dockerignore
