:ENE  : TOTAL ENERGY    =      -10000.00000000
:DIS  : CHARGE CONVERGENCE = 0.00100000
:ENE  : TOTAL ENERGY    =       -9999.50000000
:DIS  : CHARGE CONVERGENCE = 0.00090000
:ENE  : TOTAL ENERGY    =       -9999.20000000
:DIS  : CHARGE CONVERGENCE = 0.00085000
:CPU  : TOTAL CPU TIME  FOR SCF IS    88.0
:REAL : TOTAL WALL TIME FOR SCF IS    31.2
lapw0 : cpu time : 8.4
lapw1 : cpu time : 52.1
lapw2 : cpu time : 21.0
** SCF NOT CONVERGED
